<ion-view view-title="{{rubro}}">
  <ion-header-bar class="has-tabs-top"></ion-header-bar>
    <ion-tabs class="tabs-positive tabs-top">
      <ion-tab title="Destacados">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab title="Certificados" >
        <ion-content>
          <a class="item item-thumbnail-left item-icon-right" >
            <img src="/www/img/foto.jpg">
            <h2></h2>
            <p><i class="ion-ios-star" style="color: gold;"></i></p>
            <p></p>
            <i class="icon ion-chevron-right positive"></i>
          </a>
        <ion-list>
          <a ng-repeat="trabajador in trabajadores" class="item item-thumbnail-left item-icon-right" href="#/app/perfil/{{trabajador.id}}">
            <img src="/www/img/foto.jpg">
            <h2>{{trabajador.nombre}}</h2>
            <p>{{trabajador.zona}}</p> <p>Calificación: {{trabajador.calificacion}}<i class="ion-ios-star" style="color: gold;"></i></p>
            <p>{{trabajador.rubro}}</p>
            <i class="icon ion-chevron-right positive"></i>
          </a>
        </ion-list>
        </ion-content>
      </ion-tab>
      <ion-tab title="Todos">
        <ion-content>
          <a class="item item-thumbnail-left item-icon-right" >
            <img src="/www/img/foto.jpg">
            <h2></h2>
            <p><i class="ion-ios-star" style="color: gold;"></i></p>
            <p></p>
            <i class="icon ion-chevron-right positive"></i>
          </a>
          <ion-list>
            <a ng-repeat="trabajador in trabajadores" class="item item-thumbnail-left item-icon-right" href="#/app/perfil/{{trabajador.id}}">
              <img src="/www/img/foto.jpg">
              <h2>{{trabajador.nombre}}</h2>
              <p>{{trabajador.zona}}</p> <p>Calificación: {{trabajador.calificacion}}<i class="ion-ios-star" style="color: gold;"></i></p>
              <p>{{trabajador.rubro}}</p>
              <i class="icon ion-chevron-right positive"></i>
            </a>
          </ion-list>
        </ion-content>
      </ion-tab>

    </ion-tabs>


</ion-view>
