/* Empty. Add your own CSS if you like */
.centro{
  text-align:center;
  padding-bottom: 10px;

}
.estrella{
  font-size: 50px;
  color: gold;
}
.boton-centro{
  margin:auto;
  display: block;

}
.popup-buttons .button{
  font-size: smaller;
}
.titulo_inicio{
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 50px !important;
}
.login{
  margin-top: 75px !important;
}
